{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <form id='post-form' class="card shadow w-50 mt-3 p-3 mx-auto" action="{% url 'newpost' %}" method="post">
        {% csrf_token %}
        New Post:
        <textarea id="post-content" class="form-control" name="post-content"></textarea>
        <div id="button">
            <button type="submit" class="btn btn-primary" id="submit-post">Post</button>
            <button type="reset" class="btn btn-secondary" id="post-reset">Reset</button>
        </div>
    </form>
    {% endif %}
    <hr>

    {% for post in posts %}
        <div class="card border-info mb-3 w-50 mx-auto">
            <div class="card-header">{{post.author}}</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: pre-wrap;">{{post.body}}</h5>
                <p class="card-text" style="float: left;">{{post.timestamp}} </p>
                <i class="fa fa-heart" style="float: right; color: grey;"></i>
            </div>
        </div>
    {% endfor %}
{% endblock %}